/* reset css ------------------------------*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: unset;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: unset;
}

p, h1, h2{
    margin: unset;
}

img{
    vertical-align: top;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 공통 css ------------------------------*/
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


body {
    background: var(--gradient2, radial-gradient(293.21% 130.49% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%));
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;
}

/* header ------------------------------*/
header {
    width: 244px;
}

/* main ------------------------------*/
main {
    width: 400px;
    background: var(--gradient, linear-gradient(144deg, #5572BB 2.13%, #374B7C 102.97%));
    border-radius: 16px;
    
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.40);
    text-align: center;
}

.timer-box h2{
    color: #fff;
    font-size: 24px;

    margin-top: 48px;
}

.timer-box h2::after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 312px;
    background: #3D538A;

    margin-top: 23px;
    margin-bottom: 33px;
}

.time-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 22px;
}

.time-wrapper p{
    font-size: 12px;
    color: var(--light, #A5B6EE);
    margin-bottom: 4px;
}

.time-box {
    width: 80px;
    background: var(--gradient, linear-gradient(144deg, #5572BB 2.13%, #374B7C 102.97%));;
}

main button {
    margin: 40px auto;
}

.start {
    margin-right: 12px;
}

/* footer ------------------------------*/
footer {
    width: fit-content;
    font-size: 14px;
    color: #8596BF;
}



